<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>I'm ok.</p>
            <img src="/img/swiss.jpg" alt="">
            <p>I stole this picture from reddit.</p>
        </div>

        {{>footer}}
    </body>

</html>